body {
  background-color: #0b0c10;
  color: #fff;
}

.navbar {
  background-color: #1f2833;
  border-bottom: 1px solid #45a29e;
}

.game-title {
  color: #66fcf1;
  font-weight: bold;
  text-align: center;
}

.main-image {
  width: 100%;
  height: 350px;
  object-fit: cover;
  border-radius: 12px;
  margin-bottom: 20px;
  box-shadow: 0 0 10px #000;
}

.price {
  font-size: 1.3rem;
  color: #45a29e;
  font-weight: bold;
}

.genre {
  font-size: 1rem;
}

.section-title {
  color: #66fcf1;
  margin-bottom: 10px;
}

.screenshot {
  height: 400px;
  object-fit: cover;
  border-radius: 10px;
}

.video-player {
  width: 100%;
  margin-top: 15px;
  border-radius: 12px;
  background-color: #000;
}

.carousel-image {
  height: 450px;
  object-fit: cover;
  border-radius: 12px;
}

.carousel-video {
  height: 450px;
  object-fit: cover;
  background: #000;
  border-radius: 12px;
}
